* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 120px;
  height: 50px;
  align-self: center;
  cursor: pointer;
  border: 1px solid black;
  transition: 0.5s ease-in-out;
  font-size: 16px;
  padding: 5px;
}

.buttons-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

#testPDF {
  width: 200px;
  margin-bottom: 20px;
}

.action-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 400px;
  margin-right: 400px;
}

.button:hover {
  background-color: #333;
  color: white;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

#table-container {
  margin-top: 20px;
}

#exportButton:hover {
  background-color: rgba(15, 112, 15, 0.747);
}

#selectAll:hover {
  background-color: rgb(139, 91, 1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  background-color: #fff;
}
